* {
    background-color: rgb(52, 52, 52);
}

body {
    color: rgb(255, 0, 208);
}

h1 {
    text-align: center;
    margin-top: 30px;
}

header p {
    text-align: center;
    margin: 20px 200px;
    color: white;
}